body{
    width: 100%;
    margin: 0px auto;
    position: relative;
    color: #333;
}
@media all and (min-width: 320px){
    body{
        font-size: 17px;
    }
    .menu-ngang a{
        font-size: 19px;
    }
    iframe[name=hot]{
        width: 100%;
        height: 80px;
    }
}
@media all and (min-width: 400px){
    body{
        font-size: 10px;
    }
    .menu-ngang a{
        font-size: 11px;
    }
    iframe[name=hot]{
        width: 100%;
        height: 130px;
    }
}
@media all and (min-width: 700px){
    body{
        font-size: 20px;
    }
    .menu-ngang a{
        font-size: 30px;
    }
    iframe[name=hot]{
        width: 100%;
        height: 250px;
    }
}
header{
    width: 100%;
    height: 150px;
    position: relative;
}
header>a>.theme{
    width: 100%;
    height: 150px;
}
header>ul>li{
    position: absolute;
    top: 5px;
    right: 10px;
}
.brand{
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
}
.brand>.name{
    background-image: url(../image/brand.png);
    float: left;
    width: 75%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.brand>.logo-brand{
    float: left;
    background-image: url(../image/logo.jpg);
    width: 25%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
ul{
    list-style: none;
}

header>ul .logo-login{
    background-image: url(../image/login.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 70px;
    height: 70px;
}
ul ul{
    display: none;
}
.menu>ul>li{
    position: fixed;
    top: 5px;
    left: 10px;
}
.menu-con{
    position: absolute;
    top: 10px;
    left: 10px;
}
.menu-con>li{
    background-color: yellow;

}
.menu-con>li>a{
    color: red;
    text-decoration: none;
    display: block;
    width: 130px;
    line-height: 30px;
    border: 2px solid green;
}
.menu-con>li:hover>a{
    color: blue;
    background-color: pink;
}
.menu-con>li>a:visited{
    color: brown;
}
.menu-con>li>.logo-home{
    background: url(../image/logo-home.png) no-repeat left center;
    padding: 5px 0px 5px 45px;
}
.menu-con>li{
    position: relative;
}
.menu-con>li>ul{
    position: absolute;
    top: 0px;
    left: 150px;
}
.menu-con>li>ul>li{
    background-color: darkgray;
}
.menu-con>li>ul>li>a{
    color: red;
    text-decoration: none;
    background: url(../image/$.jpg) no-repeat left center;
    padding: 5px 0px 5px 45px;
    line-height: 30px;
    display: block;
    border: 2px solid orange;
    width: 130px;
}
.menu-con>li>ul>li>a:hover{
    color: blue;
    background-color: burlywood;
}
.menu-con>li>.logo-price{
    background: url(../image/$.jpg) no-repeat left center;
    padding: 5px 0px 5px 45px;
}
.menu-con>li:hover>ul{
    display: block;
}
.menu-con>li>.logo-gold{
    background: url(../image/gold.jpg) no-repeat left center;
    padding: 5px 0px 5px 45px;
}
.menu>ul>li:hover>.menu-con{
    display: block;
}
.menu-ngang{
    line-height: 25px;
    background-color: darkkhaki;
    width: 100%;
    position: relative;
}
.menu-ngang>ul>li{
    display: inline-block;
    position: relative;
    
}
.menu-ngang>ul>li>a{
    color: red;
    text-decoration: none;
    display: block;
    padding: 5px 15px;
}
.menu-ngang>ul>li:hover{
    background-color: black;
}
.menu-ngang>ul>li:hover ul li:hover a{
    background-color: lightblue;
}
.menu-ngang>ul>li{
    margin:5px 10px;
    font-size: 35px;
}
.menu-ngang>ul>li:hover>ul{
    display: block;
}
.menu-ngang>ul>li>ul{
    position: absolute;
    width: 240px;
}
.menu-ngang>ul>li>ul>li>a{
    padding: 5px 0px 5px 45px;
    line-height: 30px;
    border: 2px solid orange;
    display: block;
    text-decoration: none;
    color: red;
}
.menu-ngang>ul>li>ul>li>a:hover{
    background-color: salmon;
    color: green;
}
.menu-ngang>ul>li>ul>li>.gold{
    background: url(../image/gold.jpg) no-repeat left center;
    background-color: palegoldenrod;
}
.menu-ngang>ul>li>ul>li>.price{
    background: url(../image/$.jpg) no-repeat left;
    background-color: pink;
}
.menu-ngang>ul>li>ul>li>.bac{
    background: url(../image/bac.jpg) no-repeat left center;
    background-color: palegoldenrod;
}
.menu-ngang .search{
    position: absolute;
    right: 0px;
    top: 8px;
    width: 10%;
}
.menu-ngang .search>label{
    position: relative;
}
.menu-ngang .search>label>input{
    padding: 5px;
}
article{
    float: right;
    width: 93%;
}
aside{
    float: left;
    width: 7%;
    /* background-color: pink; */
}
footer{
    background-color: pink;
    clear: both;
    height: 450px;
    color: red;
    position: relative;
}
iframe[name=page]{
    width: 100%;
    height: 800px;
    background-color: white;
}
iframe[name=banner]{
    width: 100%;
    height: 300px;
}
.mui-ten>a{
    position: fixed;
    top: 85%;
    right: 30px;
}
iframe[name=noi_bat]{
    width: 70%;
    height: 290px;
}
